
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Match Log!</title>

  <link rel="stylesheet" href="/assets/styles/style.css">
  <script type="text/javascript" src="/vendors/angular.min.js"></script>
  <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
  <script type="text/javascript" src="/assets/scripts/app.js"></script>
  <script type="text/javascript" src="/assets/scripts/factories/data_factory.js"></script>
  <script type="text/javascript" src="/assets/scripts/controllers/log_controller.js"></script>
</head>

<body id="log-page" ng-app="myApp">
  <header>
    <h1 class="title">You're Previous Matches</h1>
    <nav class="navbar">
      <a href="match_input.html">Match Input Form</a>
      <a href="user.html">Dashboard</a>
    </nav>
  </header>
  <section id="match-log">
    <div ng-controller="LogController">
      <div ng-repeat="match in matchList" class="LogEntry">
        <div class="char-block">
        <div class="thumb-img"><img ng-src="{{matchList[$index].image}}"/></div>
        <div class="char-name">{{matchList[$index].character}}</div>
        </div>
        <div class="rounds">
          <div class="rd-txt">
            <div class="rd-one">Round One:<br>{{matchList[$index].rd_one}}<br></div>
            <div class="rd-two">Round Two:<br>{{matchList[$index].rd_two}}<br></div>
            <div class="rd-three">Round Three:<br>{{matchList[$index].rd_three}}</div>
          </div>
        </div>
        <div class="outcome"><h1>{{matchList[$index].outcome}}</h1></div>
        <div id="aoi-tags">
        <div class="aOi-tags"><p class="aoi-list">{{matchList[$index].string_agg}}</p></div>
        </div>
        <div class="notes">{{matchList[$index].notes}}</div>
        <div class="orl-block">
          <h2 class="orl-head">Opponent's Relative Strength</h2>
          <div class="rel-str">{{matchList[$index].o_rel_str}}</div>
        </div>
        <div class="o-char-block">
          <div class="o-char-thumb"><img ng-src="{{matchList[$index].o_img}}" /></div>
          <div class="o-char-name">{{matchList[$index].o_char}}</div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>