
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome!</title>

  <link rel="stylesheet" href="/assets/styles/style.css">
  <script type="text/javascript" src="/vendors/angular.min.js"></script>
  <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
  <script type="text/javascript" src="/assets/scripts/app.js"></script>
  <script type="text/javascript" src="/assets/scripts/factories/data_factory.js"></script>
  <script type="text/javascript" src="/assets/scripts/controllers/dashboard_controller.js"></script>
</head>

<body ng-app="myApp">
<div class="instructions" ng-controller="UserController">
  <div class="container">
    <h1 id="welcome" class="lead">Welcome, {{playerName}}!</h1>
  </div>
</div>
<div id="dashboard" ng-controller="DashboardController">
  <div id="player-stats">
   {{playerStats}}
  </div>
  <div id="char-stats">
    <div ng-repeat="char in charList" class="char-stat-box">
      {{charList[$index]}}
    </div>
  </div>

  <div>
    <a href="match_input.html">Match Input Form</a>
    <a href="match_log.html">Match Log</a>

  </div>
</div>
</body>
</html>