
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome!</title>

  <link rel="stylesheet" href="/assets/styles/style.css">
  <script type="text/javascript" src="/vendors/angular.min.js"></script>
  <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
  <script type="text/javascript" src="/assets/scripts/app.js"></script>
  <script type="text/javascript" src="/assets/scripts/factories/data_factory.js"></script>
  <script type="text/javascript" src="/assets/scripts/controllers/dashboard_controller.js"></script>
  <script type="text/javascript" src="/assets/scripts/controllers/view_controllers.js"></script>

</head>

<body ng-app="myApp">
  <header>
  <nav>
    <a href="match_input.html">Match Input Form</a>
    <a href="match_log.html">Match Log</a>
  </nav>
</header>

  <div class="instructions" ng-controller="UserController">
  <div class="container">
    <h1 id="welcome" class="lead">Welcome, {{playerName}}!</h1>
  </div>
</div>
  <div ng-view id="stat-window"></div>

  <div id="dashboard" ng-controller="DashboardController">

    <div id="player-stats">
      {{playerStats}}
    </div>

    <div ng-repeat="char in charImages" class="char-stat-box">
      <div><a href="{{char.link}}"><img ng-src="{{char.path}}"/></a></div>
    </div>

    <div>{{charactersTopTag}}</div>

  </div>
</body>
</html>