
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome!</title>

  <link rel="stylesheet" href="/assets/styles/style.css">
  <script type="text/javascript" src="/vendors/angular.min.js"></script>
  <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
  <script type="text/javascript" src="/assets/scripts/app.js"></script>
  <script type="text/javascript" src="/assets/scripts/factories/data_factory.js"></script>
  <script type="text/javascript" src="/assets/scripts/controllers/dashboard_controller.js"></script>
  <script type="text/javascript" src="/assets/scripts/controllers/view_controllers.js"></script>

</head>

<body id="user-page" ng-app="myApp">
  <header>
    <div class="instructions" ng-controller="UserController">
      <div class="container">
        <h1 class="title">Welcome, {{playerName}}!</h1>
        <nav class="navbar">
          <a href="match_input.html">Match Input Form</a>
          <a href="match_log.html">Match Log</a>
        </nav>
      </div>
    </div>
  </header>

  <div id="dashboard">

    <div id="player-stats" ng-controller="DashboardController">
      <p class="p-stats">You're Total Win %:   <span>{{pWinPercent}}</span></p>
      <p class="p-stats">Last 10 Matches Win %:   <span>{{pWinPercent10}}</span></p>
      <p class="p-stats">Last 25 Matches Win %:   <span>{{pWinPercent25}}</span></p><br>
      <p class="p-stats">3 Most Used Characters:   </p>
      <div><h2>{{topUsed}}</h2></div>
      <img ng-src="{{topUsedImg}}"/>
      <h2>{{topUsed2}}</h2>
      <img ng-src="{{topUsed2Img}}"/>
      <h2>{{topUsed3}}</h2>
      <img ng-src="{{topUsed3Img}}"/>
    </div>
    <div id="char-boxes">
      <div ng-controller="DashboardController">
        <div ng-repeat="char in characters" class="char-stat-box">
          <div><a href="{{char.link}}"><img class="view-links" ng-src="{{char.path}}"/></a></div>
        </div>
      </div>
    </div>
    <div ng-view id="stat-window"></div>

  </div>
</body>
</html>