.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #333333;
    color: #DDDDDD;
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
    background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}
body{
    width: 90%;
    margin: 0 auto;
}
#dashboard{
    width: 1292px;
    height: 600px;
    border: 3px solid black;
    overflow: auto;
}
#player-stats{
    border-right-color: black;
    border-right-width: 3px;
    border-right-style: solid;
    height: 600px;
    width: 393px;
    float: left;
    padding-left: 10px;
}
.p-stats{
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: large;
}
#char-boxes{
    height: 230px;
    margin-left: 402px;
    overflow: hidden;
}
.char-stat-box{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
.view-links{
    margin-left: 12px;
}
.LogEntry{
    border: 3px solid black;
    height: 108px;
    width: 1000px;
    margin: 10px auto 10px auto;
    overflow: hidden;
}
.thumb-img{
    height: 86px;
    width: 75px;
    border-bottom: 1px solid black;
}
.char-name{
    height: 18px;
    width: 75px;
    text-align: center;
    clear: left;
    padding-bottom: 2px;
}
#stat-window{
    border: 1px solid black;
    height: 359px;
    width: 868px;
    margin-left: 415px;
}
h2{
    font-size: medium;
}
.rounds{
    height: 108px;
    width: 100px;
    vertical-align: top;
    display: inline-block;
    border-right: 3px solid black;
    overflow: hidden;
}
.rd-txt{
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    height: 108px;
}
.char-block{
    display: inline-block;
    border-right: 3px solid black;
    overflow: hidden;
    height: 108px;
}
.rd-one{
    border-bottom: 1px solid black;
    width: 100px;
    height: 35px;
}
.rd-two{
    border-bottom: 1px solid black;
    width: 100px;
    height: 35px;
}
.rd-three{
    width: 100px;
    height: 35px;
}
.outcome{
    display: inline-block;
    border-right: 3px solid black;
    width: 75px;
    height: 88px;
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
}
#aoi-tags{
    display: inline-block;
    border-right: 3px solid black;
    width: 250px;
    height: 108px;
    overflow: hidden;
    margin-top: 0px;
    padding: 0px;
}
.aoi-list{
    font-size: large;
    margin: 0px;
    padding: 0px;
}
.notes{
    display: inline-block;
    border-right: 3px solid black;
    width: 300px;
    height: 108px;
    overflow: hidden;
}
.orl-block{
    display: inline-block;
    width: 83px;
    height: 108px;
    overflow: hidden;
}
.rel-str{
    display: inline-block;
    width: 83px;
    height: 19px;
    overflow: hidden;
    text-align: center;
}
.o-char-block{
    display: inline-block;
    overflow: hidden;
    height: 108px;
    border-left: 3px solid black;
}
.o-char-name{
    height: 18px;
    width: 75px;
    text-align: center;
    float: right;
    clear: right;
    padding-bottom: 2px;
}
.o-char-thumb{
    float: right;
    height: 86px;
    width: 75px;
    border-bottom: 1px solid black;
}
.orl-head{
    border-bottom: 1px solid black;
    text-align: center;
}