.containerI{
    height: 600px;
    width: 400px;
    border: 3px solid black;
    background-color: #8699a4;
}
.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}
#login-head{
    width: 400px;
    border: 3px solid black;
}
.username-password{
    margin: 20px auto;
}
.lead{
    width: 150px;
    margin: auto;
    text-align: center;
}
#username{
    width: 200px;
}
#password{
    width: 200px;
}
#login-form{
    width: 200px;
    margin: 50px auto;
}
.instructions {
    background-color: #333333;
    color: #DDDDDD;
    width: 400px;
}
nav a:link, a:visited {
    background-color: #f44336;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 14px 25px;
}
#index-body{
    margin: 100px auto;
    width: 400px;
    background-color: #0d3349;
}
nav a:hover {
background-color: red;
}
#char-boxes a{

}
#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
    background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}
body{
    width: 90%;
    margin: 0 auto;
}
#dashboard{
    width: 1292px;
    height: 600px;
    border: 3px solid black;
    overflow: auto;
    opacity: .95;
    background-color: lightsteelblue;
}
#player-stats{
    border-right-color: black;
    border-right-width: 3px;
    border-right-style: solid;
    height: 600px;
    width: 393px;
    float: left;
    padding-left: 10px;
    opacity: 1;
}
.p-stats{
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: x-large;
}
#char-boxes{
    height: 230px;
    margin-left: 402px;
    overflow: hidden;
}
.char-stat-box{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
    background-color: lightyellow;
    opacity: .9;
}
.view-links{
    margin-left: 12px;
    margin-top: 8px;
}
.LogEntry{
    border: 3px solid black;
    height: 108px;
    width: 1000px;
    margin: 10px 400px 10px auto;
    overflow: hidden;
    opacity: .90;
    background-color: lightgoldenrodyellow;
}
.thumb-img{
    height: 86px;
    width: 75px;
    border-bottom: 1px solid black;
}
.char-name{
    height: 18px;
    width: 75px;
    text-align: center;
    clear: left;
    padding-bottom: 2px;
}
#stat-window{
    border: 1px solid black;
    height: 359px;
    width: 868px;
    margin-left: 415px;
    background-color: #BB5775;
    text-align: center;
}
h2{
    font-size: medium;
}
.rounds{
    height: 108px;
    width: 100px;
    vertical-align: top;
    display: inline-block;
    border-right: 3px solid black;
    overflow: hidden;
}
.rd-txt{
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    height: 108px;
}
.char-block{
    display: inline-block;
    border-right: 3px solid black;
    overflow: hidden;
    height: 108px;
}
.rd-one{
    border-bottom: 1px solid black;
    width: 100px;
    height: 35px;
}
.rd-two{
    border-bottom: 1px solid black;
    width: 100px;
    height: 35px;
}
.rd-three{
    width: 100px;
    height: 35px;
}
.outcome{
    display: inline-block;
    border-right: 3px solid black;
    width: 75px;
    height: 88px;
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
}
#aoi-tags{
    display: inline-block;
    border-right: 3px solid black;
    width: 250px;
    height: 108px;
    overflow: hidden;
    margin-top: 0px;
    padding: 0px;
}
.aoi-list{
    font-size: large;
    margin: 0px;
    padding: 0px;
}
.notes{
    display: inline-block;
    border-right: 3px solid black;
    width: 300px;
    height: 108px;
    overflow: hidden;
}
.orl-block{
    display: inline-block;
    width: 83px;
    height: 108px;
    overflow: hidden;
}
.rel-str{
    display: inline-block;
    width: 83px;
    height: 19px;
    overflow: hidden;
    text-align: center;
}
.o-char-block{
    display: inline-block;
    overflow: hidden;
    height: 108px;
    border-left: 3px solid black;
}
.o-char-name{
    height: 18px;
    width: 75px;
    text-align: center;
    float: right;
    clear: right;
    padding-bottom: 2px;
}
.o-char-thumb{
    float: right;
    height: 86px;
    width: 75px;
    border-bottom: 1px solid black;
}
.orl-head{
    border-bottom: 1px solid black;
    text-align: center;
}
#user-page{
    background-image: url("/assets/images/street_fighter_5-wide.jpg");
}
.views{
    opacity: 1;
}
#log-page{
    background-image: url("/assets/images/sfv_charlie_ryu.png");
}
header{
    background-color: #333333;
    color: #DDDDDD;
    width: 1292px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
#char-sort{
    position: fixed;
    top: 200px;
    left: 1150px;
    width: 300px;
}
#sort-box{
    color: white;
    text-shadow: 1px 1px 3px yellow;
}
#match-form{

    padding: 20px;
}
.non-dash{
    border-bottom: 3px solid black;
}
#log-chars{
    width: 190px;
}
.char-imput{
    width: 250px;
}
.form-label{
    font-size: 24px;
    display: inline-block;
}
#form-box{
    width: 800px;
    height: 600px;
    display: inline-block;
    border-right: 3px solid black;
    background-color: limegreen;
}
#user-selections{
    width: 445px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 600px;
    margin: auto;
    background-color: cornflowerblue;
}
.sel-show{
    font-size: 24px;
}
#form-wrapper{
    width: 1292px;
    height: 600px;
    border: 3px solid black;
    margin: 10px auto;
    opacity: .9;
}
#aoi-tag-buttons{
    margin-left: 50px;
}
#notes-box{
    vertical-align: bottom;
    height: 100px;
    width: 300px;
}
#radio-label{
    display: inline-block;
}
#tags-show:{
    font-size: 14px;
}
#input-page{
    background-image: url("/assets/images/fang_wallpaper.png");
}
.sel-titles{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.view-tag{
    font-size: 24px;
}
#sort-button{

}
.login-field{
    text-align: right;
}
.login-box{
    width: 200px;
}
#sub-reg{
    width: 200px;
    margin: 10px auto;
}
#user-sub{
    height: 40px;
    width: 60px;
    background-color: #333333;
    color: white;
}
#user-reg{
    height: 40px;
    width: 60px;
    color: #333333;
}